@model List<Person>
@{
    ViewData["Title"] = "People";
}

<h2>People</h2>

<div class="pt-3">
    <form asp-action="Search">
        <input type="text" name="text"  id="searchId" />
        <button type="submit" class="btn btn-info btn-sm rounded-0 mb-1 text-light" style="color:white!important">Search <i class="fa fa-search"></i></button>
    </form>
</div>

<div class="row py-3 mb-5">
    <div class="col">
        <div class="btn btn-info btn-sm rounded-0">
            <a asp-action="Create" asp-controller="People" class="p-2 text-black" style="text-decoration:none; color:white!important">Create new</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <table id="peopleTable" class="table table-striped" >
            <thead>
                <tr>
                    <th scope="col">Id#</th>
                    <th scope="col">Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Phone</th>
                </tr>
            </thead>
            <tbody>
                @if (@Model != null)
                {
                    @foreach (var item in Model)
                    {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.City.CityName </td>
                    <td>@item.PhoneNumber</td>
                    <td>
                        <!-- Call to action buttons -->
                        <ul class="list-inline m-0">
                            <li class="list-inline-item">
                                <a href="@Url.Action("Edit", "People", new { id=item.Id  })" title="Edit" class="btn btn-primary btn-sm rounded-0"> <i class="fa fa-edit"></i></a>
                            </li>
                            <li class="list-inline-item">

                                <a asp-action="Delete" asp-route-id="@item.Id" title="Delete" class="btn btn-danger btn-sm rounded-0"> <i class="fa fa-trash"></i></a>
                            </li>
                        </ul>
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
        <a asp-action="Index">Back to List</a>
    </div>
</div>




