<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Johan Ivarsson" />
    <meta name="description" content="Lexicon MVC" />
    <meta name="keywords" content="MVC,Lexicon" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body class="d-flex flex-column h-100">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-lignt fixed-top border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <img class="ms-3 ms-lg-3 pt-1"
                     src="~/icons/kerberos-32x32.png"
                     alt=""
                     height="32"
                     width="32" />

                <a class="navbar-brand ps-2 ms-2" href="#">
                    <span>Johan Daniel |</span> @ViewBag.Title

                </a>
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbar-wrap border-0" id="navbarCollapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <hr class="d-lg-none" />
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <hr class="d-lg-none" />
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <hr class="d-lg-none" />
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>

                        <li class="nav-item dropdown">
                            <hr class="d-lg-none" />
                            <a class="nav-item nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Lexicon
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item disabled" href="#"><span class="text-center text-black-50">MVC Entity</span></a></li>
                                <li><span class="dropdown-item"><a class="nav-link text-dark" asp-area="" asp-controller="People" asp-action="Index">People</a></span></li>
                                <li><span class="dropdown-item"><a class="nav-link text-dark" asp-area="" asp-controller="Country" asp-action="Index">Countrys</a></span></li>
                                <li><span class="dropdown-item"><a class="nav-link text-dark" asp-area="" asp-controller="City" asp-action="Index">Cities</a></span></li>
                                <li><span class="dropdown-item"><a class="nav-link text-dark" asp-area="" asp-controller="Language" asp-action="Index">Languages</a></span></li>
                                <li><span class="dropdown-item"><a class="nav-link text-dark" asp-area="" asp-controller="PersonLanguage" asp-action="Index">Add persons language</a></span></li>
                            </ul>
                        </li>

                        <li class="nav-item" id="socialMediaIcons">
                            <hr class="d-lg-none" />
                            <a class="d-inline-block sm-icons"
                               href="https://www.linkedin.com/in/johan-ivarsson-b1915b92/">
                                <img src="~/lib/bootstrap-icons/icons/linkedin.svg"
                                     alt=""
                                     height="20"
                                     width="20" />
                            </a>

                            <a class="d-inline-block sm-icons"
                               href="https://twitter.com/Vingnir3">
                                <img class=""
                                     src="~/lib/bootstrap-icons/icons/twitter.svg"
                                     alt=""
                                     height="20"
                                     width="20" />
                            </a>

                            <a class="d-inline-block sm-icons"
                               href="https://github.com/vingnir">
                                <img src="~/lib/bootstrap-icons/icons/github.svg"
                                     alt=""
                                     height="20"
                                     width="20" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div> <!-- End Container -->
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer fixed-bottom mt-auto py-3">
        <div class="container text-center">
            <span class="text-muted">
                Copyright&COPY; @DateTime.Now.Year | Johan Ivarsson | All rights reserved
            </span>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
